# -*- coding: utf-8 -*-
#
# This file is part of PyNPM
# Copyright (C) 2017 CERN.
#
# PyNPM is free software; you can redistribute it and/or modify
# it under the terms of the Revised BSD License; see LICENSE file for
# more details.

notifications:
  email: false

sudo: false

language: python

matrix:
  fast_finish: true
  allow_failures:
    - env: REQUIREMENTS=devel
    - python: 3.8

cache:
  - pip

env:
  - REQUIREMENTS=lowest
  - REQUIREMENTS=release
  - REQUIREMENTS=devel

python:
  - "3.6"
  - "3.7"
  - "3.8"

before_install:
  - "nvm install 6; nvm use 6"
  # Install Yarn
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH="$HOME/.yarn/bin:$PATH"
  - "travis_retry pip install --upgrade pip setuptools py"
  - "travis_retry pip install twine wheel coveralls requirements-builder"
  - "requirements-builder -e all --level=min setup.py > .travis-lowest-requirements.txt"
  - "requirements-builder -e all --level=pypi setup.py > .travis-release-requirements.txt"
  - "requirements-builder -e all --level=dev --req requirements-devel.txt setup.py > .travis-devel-requirements.txt"

install:
  - "travis_retry pip install -r .travis-${REQUIREMENTS}-requirements.txt"
  - "travis_retry pip install -e .[all]"

script:
  - "./run-tests.sh"

after_success:
  - coveralls

deploy:
  provider: pypi
  user: inveniosoftware
  password:
    secure: "pMGIcd7+R5ZkZ8Wv52mI9kK25sWH/Q6pZnCDESCtfZw9VUtdVQriei3Lv1gd7g3hVqLKyjWtPRZ1EuvQqKKogVJGxbvxrm1U3BHTuG/HjC22O4TAyK7xQEqVi0EwYySJYhl1oXlkkeyUuD2oxSEQ0FJoVCYGVCcv7Vn13aczRlaxk8aoR3U6K1Y2gASH/bFL4XWDM1M0nHIt/HTaCdrgcugKxq4wtDZaW6W1AD5JYMUgpVRzD+UheeZOIeJgSFGsB1Ah3gjsQ4xjbfDV1DR/d/vIVdHsFH31NRMEgUs4Qs2SGcpP9EZSICoz75egb4fIVS3TUkjyNWc3xk4SGc/qZTf7kKXlHdj43qim+lMlwfoYREKYYh33POjtrWls8P39q7OzCTjsM7FOLOXci9N7ncEmAN8wHweCUxwoIxQwS+C8P/Cs7bGaQsc1F05N25fAyrSAZhFAsqpyrhKg1uOAwMohawwYbsXuo71cKTriQXuVyZb8cM1LhTYPyXkhggJS2x4xgJxFc+t5dHRifd/XJyJ+8EbPkckqjqxM0VpDgXqAKKBLb6Rzp4vdD2o/toxyR+H2sDYkwsN5lTrcdApBv2CFF6BgJccKZ9Vj2mXXrcXBOkt8avUEIiu2AcyFILcXe/8iv0NW0xGMPQKEgLPAuEU42bkLuL456SrjvcyN/t8="
  distributions: "sdist bdist_wheel"
  on:
    tags: true
  skip_existing: true
